{% extends '_base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for week in week_list %}
                <div class="col-9">
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ week.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">{{ week.date_create }}</h6>
                            <p class="card-text py-3">
                                {{ week.weekshopping.all }}
                            </p>
                            <a class="btn btn-sm btn-success" href="{% url 'refresh' week.id %}">Read More
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}